@font-face {
  font-family: subway-ticker;
  src: url('subway-ticker.ttf') format('truetype');
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

/* Parent Container */
.parent-container {
  background-color: #170226;
  display: flex;
  padding: 0.5%;
  /* color: lightgrey; */
  text-align: center;
  flex-direction: column;
}

.header-container {
  flex: 1;
  display: flex;
  background-color: #422365;
  padding: 0.5%;

  /* border: 0.5px solid lightgrey; */
}
.dashboard-spacer {
  background-color: #170226;
  flex: 1;
}
.header-child-container {
  flex: 1;
  display: flex;
  padding: 0.5%;
  border: 0.5px solid lightgrey;
}

.isLoggedIn-container {
  flex: 1;
  display: flex;
  padding: 0.5%;
  border: 0.5px solid lightgrey;
}

.header-headline {
  flex: 6;
  padding: 0.5%;
  border: 0.5px solid lightgrey;
  order: 2;
}
.header-Logo {
  flex: 2;
  padding: 0.5%;
  border: 0.5px solid lightgrey;
  order: 1;
}
.header-logout {
  flex: 1;
  padding: 0.5%;
  border: 0.5px solid lightgrey;
  order: 3;
}
.header-profile {
  flex: 1;
  padding: 0.5%;
  border: 0.5px solid lightgrey;
  order: 4;
}

.main-dashboard-container {
  background-color: #422365;
  flex: 4;
  display: flex;
  padding: 0.5%;
  border: 0.5px solid lightgrey;
  min-height: 85vh;
}

/* Portfolio Contents */
.portfolio-container {
  flex: 2;
  border-radius: 10px;
  /* margin: 0.5%; */
  /* border: 0.5px solid lightgrey; */
  display: flex;
  flex-direction: column;
}

.portfoliolist {
  flex: 1;
  padding: 0.5%;
  border: 0.5px solid lightgrey;
}

.templateAssetAllocation {
  flex: 1;
  padding: 0.5%;
  border: 0.5px solid lightgrey;
}

/* Dashboard Contents */
.dashboard-container {
  flex: 6;
  flex-direction: column;
  padding: 0.5%;
  border: 0.5px solid lightgrey;
  display: flex;
  min-width: 0;
}

.dashboard-feature {
  flex: 5;
  display: flex;
  padding: 0.5%;
  border: 0.5px solid lightgrey;
}

.dashboard-financials-details-container {
  flex: 3;
  display: flex;
  padding: 0.5%;
  border: 0.5px solid lightgrey;
}

.financials {
  flex: 1;
  padding: 0.5%;
  border: 0.5px solid lightgrey;
  display: flex;
}

.financialList {
  flex: 1;
  max-height: 200px;
  overflow-y: scroll;
}

.details {
  flex: 1;
  padding: 0.5%;
  border: 0.5px solid lightgrey;
}

.tickerDiv {
  flex: 1;
  width: 100%;
  /* padding: 0.5%; */

  border: 0.5px solid lightgrey;
}

/* Selector Component */
.selector-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5%;
  border: 1px solid lightgrey;
}

.search {
  /* flex: 1; */
  padding: 0.5%;
  border: 1px solid lightgrey;
}
.companyPrices {
  flex: 1;
  padding: 0.5%;
  border: 1px solid lightgrey;
}

.chartSelections {
  flex: 1;
  padding: 0.5%;
  border: 1px solid lightgrey;
}

/* react-vis css */

.react-vis-magic-css-import-rule {
  display: inherit;
}

.rv-treemap {
  font-size: 12px;
  position: relative;
}

.rv-treemap__leaf {
  overflow: hidden;
  position: absolute;
}

.rv-treemap__leaf--circle {
  align-items: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

.rv-treemap__leaf__content {
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
}

.rv-xy-plot {
  color: #c3c3c3;
  position: relative;
}

.rv-xy-plot canvas {
  pointer-events: none;
}

.rv-xy-plot .rv-xy-canvas {
  pointer-events: none;
  position: absolute;
}

.rv-xy-plot__inner {
  display: block;
}

.rv-xy-plot__axis__line {
  fill: none;
  stroke-width: 2px;
  stroke: #e6e6e9;
}

.rv-xy-plot__axis__tick__line {
  stroke: #e6e6e9;
}

.rv-xy-plot__axis__tick__text {
  fill: #6b6b76;
  font-size: 11px;
}

.rv-xy-plot__axis__title text {
  fill: #6b6b76;
  font-size: 11px;
}

.rv-xy-plot__grid-lines__line {
  stroke: #e6e6e9;
}

.rv-xy-plot__circular-grid-lines__line {
  fill-opacity: 0;
  stroke: #e6e6e9;
}

.rv-xy-plot__circular-grid-lines__line {
  fill-opacity: 0;
  stroke: #e6e6e9;
}

.rv-xy-plot__series,
.rv-xy-plot__series path {
  pointer-events: all;
}

.rv-xy-plot__series--line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.rv-crosshair {
  position: absolute;
  font-size: 11px;
  pointer-events: none;
}

.rv-crosshair__line {
  background: #47d3d9;
  width: 1px;
}

.rv-crosshair__inner {
  position: absolute;
  text-align: left;
  top: 0;
}

.rv-crosshair__inner__content {
  border-radius: 4px;
  background: #3a3a48;
  color: #fff;
  font-size: 12px;
  padding: 7px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.rv-crosshair__inner--left {
  right: 4px;
}

.rv-crosshair__inner--right {
  left: 4px;
}

.rv-crosshair__title {
  font-weight: bold;
  white-space: nowrap;
}

.rv-crosshair__item {
  white-space: nowrap;
}

.rv-hint {
  position: absolute;
  pointer-events: none;
}

.rv-hint__content {
  border-radius: 4px;
  padding: 7px 10px;
  font-size: 12px;
  background: #3a3a48;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
  white-space: nowrap;
}

.rv-discrete-color-legend {
  box-sizing: border-box;
  overflow-y: auto;
  font-size: 12px;
}

.rv-discrete-color-legend.horizontal {
  white-space: nowrap;
}

.rv-discrete-color-legend-item {
  color: #3a3a48;
  border-radius: 1px;
  padding: 9px 10px;
}

.rv-discrete-color-legend-item.horizontal {
  display: inline-block;
}

.rv-discrete-color-legend-item.horizontal
  .rv-discrete-color-legend-item__title {
  margin-left: 0;
  display: block;
}

.rv-discrete-color-legend-item__color {
  background: #dcdcdc;
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  width: 14px;
}

.rv-discrete-color-legend-item__title {
  margin-left: 10px;
}

.rv-discrete-color-legend-item.disabled {
  color: #b8b8b8;
}

.rv-discrete-color-legend-item.clickable {
  cursor: pointer;
}

.rv-discrete-color-legend-item.clickable:hover {
  background: #f9f9f9;
}

.rv-search-wrapper {
  display: flex;
  flex-direction: column;
}

.rv-search-wrapper__form {
  flex: 0;
}

.rv-search-wrapper__form__input {
  width: 100%;
  color: #a6a6a5;
  border: 1px solid #e5e5e4;
  padding: 7px 10px;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0 0 9px;
  outline: 0;
}

.rv-search-wrapper__contents {
  flex: 1;
  overflow: auto;
}

.rv-continuous-color-legend {
  font-size: 12px;
}

.rv-continuous-color-legend .rv-gradient {
  height: 4px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.rv-continuous-size-legend {
  font-size: 12px;
}

.rv-continuous-size-legend .rv-bubbles {
  text-align: justify;
  overflow: hidden;
  margin-bottom: 5px;
  width: 100%;
}

.rv-continuous-size-legend .rv-bubble {
  background: #d8d9dc;
  display: inline-block;
  vertical-align: bottom;
}

.rv-continuous-size-legend .rv-spacer {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 100%;
}

.rv-legend-titles {
  height: 16px;
  position: relative;
}

.rv-legend-titles__center,
.rv-legend-titles__left,
.rv-legend-titles__right {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
}

.rv-legend-titles__center {
  display: block;
  text-align: center;
  width: 100%;
}

.rv-legend-titles__right {
  right: 0;
}

.rv-radial-chart .rv-xy-plot__series--label {
  pointer-events: none;
}

.ticker-wrap {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  height: 48px;
  background-color: #ccc;
  padding-left: 100%;
}

.ticker {
  font-family: subway-ticker;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  white-space: nowrap;
  padding-right: 100%;
}

.ticker.scrolling {
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 8500s;
  animation-duration: 8500s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  font-family: subway-ticker;
}

.ticker__item {
  display: inline-block;
  font-family: subway-ticker;
  padding: 0 24px;
  font-size: 24px;
  color: black;
}

.ticker__item--details {
  font-family: subway-ticker;
  display: flex;
  justify-content: space-around;
}

.ticker__item--details span + span {
  font-family: subway-ticker;
  padding-left: 10px;
}

.ticker__item--symbol,
.stock-card__symbol {
  font-family: subway-ticker;
  color: navy;
  font-weight: 600;
}

.ticker__item--change.positive {
  font-family: subway-ticker;
  color: green;
}

.ticker__item--change.negative {
  font-family: subway-ticker;
  color: crimson;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.ticker-wrapper {
  width: 100%;
  overflow: hidden;
}
